body {
    background: lightgray;
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
  }
    
  main {
    flex: 1;
    min-height: 300px; /* Adjust based on your layout */
}

@media screen and (max-width: 600px) {
  .event-grid {
      grid-template-columns: 1fr;
  }
  nav ul {
    flex-direction: column;
    }
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #312b2b;
    padding: 20px 20px;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: ivory
  }
  
  .logo:hover {
    color: #ff6600; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px; 
  }
  
  nav ul li a {
    color: ivory;
    text-decoration: none;
    font-size: 25px;
  }

  .events, .menu, .location, .contact {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: ivory;
    transition: all 0.3s ease-in-out;
  }
  
  .events:hover, .menu:hover, .location:hover, .contact:hover {
    font-weight: 900; /* Slightly bolder */
    color: #ff6600; /* New color on hover */
  }

        .container {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
        }

        h1 {
            color: black;
    text-align: center;

        }
        .map {
            margin-top: 30px;
            left: 50%; 
            display: flex;
            justify-content: center; /* Centers horizontally */
        }

        h2 {   
            position: absolute;  
            top: 90%;  
            left: 50%;  
            transform: translate(-50%, -50%);  
            text-align: center;  
            font-size: 1.3em;  
            font-weight: italic;  
            color: black;  
            width: 100%; /* Ensures it spans the width of the container */
            margin-top: 30px; /* Adds space below the heading */
        }
        p {
            text-align: center; 
            font-size: 1.1em;  
            width: 60%;  
            margin: 0 auto; /* Centers horizontally */  
        }  
    
        footer {
            height: auto; /* Adjusts to content */
            min-height: 50px; /* Ensures it doesn't shrink too much */
            padding: 20px; /* Consistent padding */
            width: 100%;
            text-align: center;
        }